
.container-header {
    width: 70%;
    margin: auto;
    padding: 5px;
    font-size: 12px;
    /* font-weight: 600; */
}

.logo {
    width: 60%;
}
.slide {
    height: 720px;
    background-image: url(../image/eedd6a94-cbfe-4256-8551-2e6421140975.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-slide {
    width: 70%;
    margin: auto;
}
