.top-left li {
    margin-right: 10px;
    color: #66645c;
} 
.top-left >li a {
    color: #66645c;
}
.top-left >li span {
    font-size: 10pt;
}
.top-right li {
    margin-left: 10px;
} 
.top-right .btn {
    font-size: 7pt;
    font-weight: 600;
}
.gach {
    border-left: 2px solid #b3b3b3;
    margin-right: 10px;
}
li.card {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #0b703d;
    font-size: 16pt;
    text-align: center;
    margin-right: 20px;
}
i.fa-shopping-cart {
    color: #0b703d;
}
div.search {
    padding: 0px 4px 0px 10px;
    border: 1px solid #0b703d;
    border-radius: 20px;
    width: 100%;
    /* margin-left: 50px; */
   
}
input.mr-sm-2{
    border: none;
    font-size: 14px;
    background: transparent;
}
button.my-sm-0 {
    border-radius: 20px;
    padding: 4px 8px;
    color: #ffffff;
    background-color: #0b703d;
    font-size: 14px;
}
div.menu-top  {
    background-color: #0b703d;
    font-size: 18px;
}
div.menu-top a {
    color: #ffffff;
    margin-right: 20px;
}
div.menu-top a:hover {
    text-decoration: none;
}
div.menu-top i.fa-bars {
    margin-right: 30px;
    font-size: 22px;
}
div.menu-top i.fa-chevron-down {
    margin-left: 20px;
    
}
.menu-top .top-right {
    color: #ffffff;
    font-size: 14px;
}
.menu-top .top-right a {
    margin-right: 0px;
}
.gach-01 {
    border-left: 2px solid #ffffff;
    margin-right: 5px;
    margin-left: 10px;
}