.menu-left {
    margin-right: 5px;
}
.top-main {
    margin-bottom: 40px;
}
.list-group li a i.fa-chevron-right {
    font-size: 14px;
}
.slide {
    width: 100%;
    min-height: 564px;
}
.slide-mail {
    padding: 0px;
}

.slide-01 {
    background-color: turquoise;
    min-height: 376px;

}
.slide-02 {
    background-color: wheat;
}
.slide-03 {
    background-color: yellowgreen;
    min-height: 188px;
}
.datngay {
    background-color: royalblue;
    min-height: 380px;
    margin-bottom: 40px;
}
.col-sm-9 h2 {
    margin-bottom: 40px;
    font-size: 24px;
}
.banchay {
    min-height: 218px;
}
.top-banchay {
    margin-bottom: 30px;
}
.image-index {
    margin: 20px;
    background-color: salmon;
}
.description p {
    padding-bottom: 20px;
    border-style: none none dotted  none;
    margin-bottom: 20px;
}