.menu {
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #e9e9e9;
}
#side-menu li {
    display: block;
    padding: 0px 15px;
}
.list-menu-bottom {
    border-bottom: 1px solid #e7e7e7;
}
#side-menu li a {
    display: block;
    text-decoration: none;
    padding: 15px 0;
    color: #337ab7;
}
#side-menu li a:hover {
    color: #246dad;
    font-weight: 600;
}
.arrow {
    float: right;
}
#side-menu ul {
    padding: 0;
}
ul.list-menu-top {
    display: none;
}
ul.list-menu-top > li{
    border-top: 1px solid #e7e7e7;
}
.main {
    display: flex;
}
.main-right {
    width: 100%;
    background: initial;
    /* position:absolute; */
    /* margin-right: 20px; */
}
.card {
    border-radius: 0px;
    border: none;
}
.active {
    font-weight: 600;

}
